body{
    background-color: #f3f0f0;
}

h1{
    color: #d78d8d;
    font-family: "Times New Roman", Times, serif, cursive;
    font-size: 78px;
}
h2{
    color: #000000;
    font-family: 'Times new roman';
    font-size: 18px;
}