body{
    font-family:'Courier New', Courier, monospace;
    background-color: black;
}

/* Conecta el canvas de p5 con el body y el html (al fin ya quedó TuT)
canvas {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
} */

.titulo{
    text-align: right;
    font-size: 20px;
    margin-bottom: 20px;
    font-family:'Courier New', Courier, monospace;
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
}

.centro{
    font-size: 50px;
    color: aliceblue;
    padding: 10px; 
    float: right; 
    height: 1750px; 
    width: 78%;
    text-align: center;
    border-radius: 20px;
    background-color: rgb(0, 255, 0)
}

.izquierda{
    background-color: rgb(0, 255, 0); 
    font-size: 15px; 
    font-weight: bold;
    padding-left: 20px; 
    float: left; 
    height: 1770px; 
    width: 18%;
    text-align: left;
    border-radius: 15px;
}
@media screen and (max-Width:500px){
    .izquierda, .centro{
        width: 100%;
    }
}

.contenido-centro1{
    text-align: left;
    font-size: 15px;
    border-radius: 12px;
    padding: 0.5px 10px 10px 10px;
    background-color: #000000;
    height: 30px;
    width: 950px;
    color: #00ff00;
}

.contenido-centro2{
    margin-top: 25px;
    margin-left: 40px;
    margin-right: 40px;
    font-size: 20px;
    border-radius: 12px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    padding-top: 20px;
    background-color: #ffffff;
    color: #000000;
}

 input {
        padding: 10px;
        font-size: 1rem;
        margin-top: 10px;
        border-radius: 15px;
        width: 800px;
        border-color: #bfbfbf;
        border-style:groove;
        background-color: #ffffff;
    }

/* Botón */

    .btn {
        background-color: #00ff00;
        color: #000000;
        border: none;
        padding: 1px 10px;
        font-size: 15px;
        font-weight: bold;
        border-radius: 10px;
        cursor: pointer;
        transition: transform 0.15s ease, background 0.3s ease;
        font-family: 'Times New Roman', Times, serif;
    }

/* Efecto hover */

    .btn:hover {
        transform: scale(1.05);
        background-color: #00ff00;
    }

h3{
    font-size: 25px;
    text-align: left;
    color: rgb(0, 0, 0);
}