body{
    font-family:'Courier New', Courier, monospace;
    background-color: #00ff00;
}

.titulo{
    text-align: right;
    font-size: 20px;
    margin-bottom: 20px;
    font-family:'Courier New', Courier, monospace;
    background-color: rgb(255, 255, 255);
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 15px;
}

/* .derecha{
    background-color: rgb(0, 255, 0); 
    font-size: 50px; 
    padding: 10px; 
    float: right; 
    height: 1500px; 
    width: 30%;
    text-align: center;
    border-radius: 15px;
}

.izquierda{
    background-color: rgb(0, 255, 0); 
    font-size: 15px; 
    font-weight: bold;
    float: left; 
    height: 1500px; 
    width: 30%;
    text-align: left;
    border-radius: 15px;
}

.centro{
    background-color: rgb(0, 255, 0); 
    font-size: 15px; 
    font-weight: bold;
    float: center; 
    height: 1500px; 
    width: 30%;
    text-align: left;
    border-radius: 15px;
}

@media screen and (max-Width:800px){
    .izquierda, .centro, .derecha{
        width: 100%;
    }
} */
