body{
    background-color: #000000;
    color: #00ff00;
    padding: 100px 100px 100px 100px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: left;
}

/* Botón e input*/

    input {
        font-size: 1rem;
        border-radius: 15px;
        border-color: #00ff00;
        border-style:groove;
        background-color: #000000;
        color: #ffffff;
    }

    .btn {
        background-color: #00ff00;
        color: #000000;
        border: none;
        padding: 1px 10px;
        font-size: 15px;
        font-weight: bold;
        border-radius: 10px;
        cursor: pointer;
        transition: transform 0.15s ease, background 0.3s ease;
        font-family: 'Times New Roman', Times, serif;
    }

    /* Efecto hover */

        .btn:hover {
            transform: scale(1.05);
            background-color: #00ff00;
        }

@keyframes aparecer {
    from { opacity: 0;}
    to { opacity: 1; }
}

  #frase15 {
    animation: aparecer 10s ease;
  }

  #frase16 {
    animation: aparecer 20s ease;
  }

  #frase17 {
    animation: aparecer 30s ease;
  }

  #frase18 {
    animation: aparecer 40s ease;
  }

/* Loader a pantalla completa */
    .loader-screen {
      position: fixed;
      top: 0; 
      left: 0;
      width: 100%;
      height: 100%;
      background: black;
      color: #00ff00;
      display: none; /* oculto por defecto */
      justify-content: center;
      align-items: center;
      text-align: left;
      padding: 40px;
      white-space: pre-wrap;
      font-size: 1.3rem;
      z-index: 8000;
      transition: opacity 0.6s ease;
      white-space: pre-wrap;
      font-family: 'Courier New', Courier, monospace;
      font-weight: bold;
    }

    .cursor {
      display: inline-block;
      width: 14px;
      border-right: 3px solid #00ff00;
      animation: blink 1s infinite;
    }

    @keyframes blink {
      0%, 100% { border-color: transparent; }
      50% { border-color: #00ff00; }
    }

/* PANTALLAZO AZUL */
    #blue-screen {
        position: fixed;
        top: 0; left: 0;
        width: 100%; 
        height: 100%;
        background: #0078D7;
        color: white;
        font-family: "Segoe UI", Arial, sans-serif;
        display: none;
        z-index: 99999;
        justify-content: center;
        align-items: center;
        padding-left: 6%;
        animation: fadeIn 1s ease forwards;
    }

    .bsod-content {
        max-width: 700px;
    }

    .sad-face {
        font-size: 8rem;
        line-height: 6rem;
        margin-bottom: 20px;
    }

    .bsod-text p {
        font-size: 1.7rem;
        line-height: 2.3rem;
        margin: 10px 0;
    }

    .code {
        margin-top: 40px;
        font-size: 1.2rem;
        opacity: 0.8;
    }