body{
    background-color: #000000;
}
.espacios {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas:
    'menu header right'
    'menu main right'; 
  overflow: hidden;
  padding: 10px;
  gap: 10px;
}

.titulo {
  grid-area: header;
  text-align: right;
  font-size: 20px;
  margin-bottom: 20px;
  font-family:'Courier New', Courier, monospace;
  background-color: #ffffff;
  font-weight: bold;
  padding-top: 9px;
  padding-bottom: 9px;
  padding-left: 13px;
  padding-right: 13px;
  border-radius: 15px;
}

.perfil {
  grid-area: menu;
  text-align: center;
  color: #000000;
  background-color: #00ff00;
  border-radius: 15px;
  height: 630px;
}

.publi {
  grid-area: main;
  text-align: center;
  color: #000000;
  background-color: #00ff00;
  height: calc(50vh - 100px);
  overflow-x: hidden;
  scrollbar-width: none;
  border-radius: 15px;
  height: 560px;
}

.publi::-webkit-scrollbar {
  display: none;
  text-align: center;
}
.menu {
  grid-area: right;
  text-align: center;
  color: #000000;
  background-color: #00ff00;
  border-radius: 15px;
  height: 630px;
}