body{
    font-family:'Courier New', Courier, monospace;
    background-color: rgb(0, 0, 0);
    align-items: center;
    justify-content: center;
}

h1{
    font-size: 40px;
    text-align: center;
    color: rgb(255, 255, 255);
}

h2{
    font-size: 25px;
    text-align: center;
    color: rgb(255, 255, 255);
}

p{
    font-size: 20px;
    text-align: center;
    color: rgb(255, 255, 255);
}